# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.ncb
zutils/pcap_util/pcap_util.vcproj.WUBENQI26EA.wubenqi.user
zutils/zutils.suo
lib/scriptengine2.lib
lib/pcap_util.lib
bin/test_netengine.exe
bin/test_netengine.ilk
bin/test_netengine.pdb
lib/base.lib
lib/base2.lib
lib/db.lib
lib/libevent.lib
lib/message_pdu.lib
lib/net.lib
lib/modp_b64.lib
lib/tinyxmld_STL.lib
lib/zlib.lib
zutils/base2/xml/third_party/tinyxml/Debug_STL/tinyxmlSTL.bsc
zutils/base2/xml/third_party/tinyxml/Debug_STL/tinyxmlSTL.bsc